body{
    padding-top: 5px;
    
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fpetapixel.com%2Fassets%2Fuploads%2F2021%2F06%2FSocial-Medias-Impact-on-Landscape-and-Nature-Photography.jpg&imgrefurl=https%3A%2F%2Fpetapixel.com%2F2021%2F06%2F21%2Fexamining-social-medias-impact-on-landscape-and-nature-photography%2F&tbnid=SIuN4QLMzKgKDM&vet=12ahUKEwiQj4PNl-n3AhXLg2MGHRW_C1kQMygTegUIARD-AQ..i&docid=8HR6jWaNn09yOM&w=1600&h=840&q=landscape&ved=2ahUKEwiQj4PNl-n3AhXLg2MGHRW_C1kQMygTegUIARD-AQ");
  }

  
  
  

 .header{
  
  
  color:rgb(0, 162, 255);
  height: 50px;
  line-height: 50px;
  margin: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
  font-size: 1.5rem;
  
  
  text-align: center;
  border-radius: 2rem;
 
 }
  
  .container{
    display: flex;
    width: 100%;
  }
  
  .panel{
    position: relative;
    height: 80vh;
    flex: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: all 700ms ease-in;
  }
  
  .panel.active{
    flex: 5;
  }
  
  .panel h3{
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active h3{
    opacity: 1;
    transition: opacity 300ms ease-in 400ms;
  }
  
  #panel-1{
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
  }

  
  #panel-2{
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
  }
  
  #panel-3{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");  
  }
  
  #panel-4{
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");   
  }
  
  #panel-5{
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
  }